.leftMenu {
    flex: 2;
    height: calc(100vh - 140px);
}

.leftMenuWrapper {
    border-radius: 20px !important;
    padding: 10px;
    width: 100px;
    margin-left: 17%;
    margin-top: 100%;
}

.leftMenuList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.leftMenuListItem {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
}

.leftMenuListItem:last-child {
    padding-bottom: 0;
}

